* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    overflow-x: hidden;
    color: #037859;
}

/***************handling scrollbar********************************/

::-webkit-scrollbar
{
  width:0.48rem;
}
::-webkit-scrollbar-track
{
    background:transparent;
}
::-webkit-scrollbar-thumb
{
  /* background: #037859; */
  background: rgba(3, 121, 89, 0.8);
  border-radius: 3rem;
}
::-webkit-scrollbar-thumb:hover
{
    cursor: pointer;
    background: #037859;
}

/************************************************************/



.btn
{
    width: fit-content;
}
.btn:hover{
    cursor: pointer;
    text-shadow: 5px 5px 10px #037859;
}
.navbar
{
    position: fixed;
    color:#037859;
    background-color: white;
    height: 3.5rem;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(120, 110, 110, 0.568);
    z-index: 1000000;
    padding: 0.5rem;
    
}.nav-title
{
    color:#037859;
    font-family: 'Gotham', sans-serif;
    padding-left: 2rem;
    font-size: 2rem;
}
.footer
{
    height: 70dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first {
    align-items: center;
    justify-content: center;
    display: flex;
}
.first-main
{
    font-family: 'Gotham', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.36rem;
}
.first-content
{
    
    font-family: 'Canva Sans', sans-serif;
    font-weight:700;
   
}
.first-content-parent
{
    transform: translate(7rem,3.7rem);
}

.full {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.half {
    height: 100vh;
    width: 50vw;
}
.second
{
    height:80vh;
}
.food,.family
{
    height: fit-content;
    margin: auto;
}
.third{
    flex-direction: column !important;
    height:88vh;
}

.third-main
{
    
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing:0.2rem;
   
}
.third-content
{
    font-family: 'Arial', sans-serif;
   
    width: 76%;
}
.fourth{
    flex-direction: column !important;
    height: 88vh;
}

.logo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('logo.jpg');
    width: 100%;
    height: 100%;
}

.fifth {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
}

.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('image.png');
    z-index: -9999;
}

.joinNow {
    font-family: 'Hedvig Letters Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.leftRight {
    margin: 0 50px;
}

.hundredW {
    width: 100%;
    display: flex;
    justify-content: right;
}

.viewMore {
    padding: 2vw 14vw;
}
.view-more
{
    font-style:italic;
}
.light
{
    color:rgba(3, 121, 89, 0.7);
}
.desc
{
    font-style: italic;
}


.mission-head-parent
{
    transform: translate(-8.5rem,0);
}
.mission-head{
    font-family: 'Gotham', sans-serif;
    font-size: 4rem;
}
.fifth-head
{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 10rem;
    letter-spacing: 0.6rem;
}

.fifth-head-parent1
{
    transform: translate(-4rem,0);
    text-align: start; 
    direction: ltr; 
}
.fifth-head-parent2
{
    transform: translate(-3rem,-2rem);
}
.fifth-head-bottom
{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 10rem;
    letter-spacing: 0.6rem;
    transform: translate(-5rem,-2rem);
}
.uasf {
    font-family: 'Gotham', sans-serif;
    font-size: 8vw;
    font-weight: bolder;
}


.join {
    font-family: 'Canva Sans', sans-serif;
    font-size: 1.7vw;
    transform: translate(10px,-35px);
}
.join-first {
    font-family: 'Canva Sans', sans-serif;
    font-size: 1.7vw;
    
}
.grn-box-txt
{
   
    font-weight:0;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.2rem;
}
@media (orientation: landscape) { /* Desktop */
    .full {
        flex-direction: row;
    }
    .fifth {
        flex-direction: row;
    }
    .title {
        font-size: 8vw;
        font-weight: bolder;
    }
    .vision {
        font-size: 2vw;
        margin-top: 12px;
        
    }
    .numbers
{
    font-size: 8rem;
    font-family: 'Bebas Neue', sans-serif;
    padding: 0 !important;

}

    .food-numbers
    {
        margin-right:2.6rem;
    }
    .food-view-more
    {
        margin-right:2.6rem;
    }
    .greenBox {
        font-size: 130%;
        height: 5%;
        width: 40%;
        background-color: #037859;
        color: white;
        
        /* border-radius: 10px; */

    }
    .mission {
        z-index: 9999;
        font-size: 56px;
        /* background-color: black; */
        
    }
   
}
.third-head
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gotham', sans-serif;
    width: 70%;
    font-size: 2.3rem;
    padding-bottom: 0.7rem;
    letter-spacing: 0.5rem;
}
.third-head-parent
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translate(0,2rem);
}

.view-more-left
{
    transform: translate(8rem,0);
}
@media (orientation: portrait) { /* Smartphone */
    
    .full {
        flex-direction: column;
    }
    .fifth {
        flex-direction: column;
    }
    
    
    .uasf {
        letter-spacing: 10px;
        font-size: 15vw;
        font-weight: bolder;
    }
    .title {
        font-size: 10vw;
        font-weight: bolder;
    }
    .vision {
        font-size: 5vw;
        margin-top: 12px;
    }
    .join {
        font-size: 5vw;
        margin-top: 24px;
    }
    .greenBox {
        font-size: 100%;
        height: 10%; 
        width: 60%;
        background-color: #037859;
        color: white;
    }
    .mission {
        z-index: 9999;
        font-size: 36px;
    }
    
}
@media (max-width: 400px) {
    .nav-title
    {
        padding-left: 0;
    }
    .first-content-mobile
    {
        transform: translate(0,-80%);
    }
    /* .down-icon
    {
        transform: translate(0,-1px);
    } */
    .first-main
    {
        display: flex;
        width: 21rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        letter-spacing: 3px;
    }
    .first-text-mobile{
        font-weight: 400;
        transform: translate(-10px,-2.6rem);
    }
    .first-content-parent
    {
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: black; */
        width: 100%;
        /* height: 40px; */
        transform: translate(-13px,-8px);
    }
    .first-content
    {
        font-family: 'Canva Sans', sans-serif;
        font-size: 20px;
    }
    .second
    {
        display: flex;
        /* background-color: aqua; */
        justify-content: space-between;
        height: 25rem;
        align-items: center;
       
    }
  
    .food{
        position: absolute;
        left: 0;
        /* background-color: black; */
        width: 50%;
        height: 60%;
    }
    .family{
        /* background-color: black; */
        position: absolute;
        right: 0;
        width: 50%;
        height: 60%;
    }
    
.greenBox {
    /* font-size: 130%; */
    /* font-size: 18px; */
    height: 5%;
    width: 80%;
    background-color: #037859;
    color: white;
    letter-spacing: 0px;
    font-weight: 0;
}
.green-box-txt
{
    font-size: 10px;
}
.numbers
{
    font-size:80px;
    font-family: 'Bebas Neue', sans-serif;
    
}
.food-numbers
    {
        margin-right:1.0rem;
    }
    .food-view-more
    {
        margin-right:1.3rem;
    }
.third,.fourth{
    height:22rem;
}
.third-head-parent
{
    transform: translate(0,-15px);
}
.third-head
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gotham', sans-serif;
    width: 100%;
    font-size: 1.1rem;
    letter-spacing: 5px;
}
.third-main{
    font-size: 3.3rem;
    letter-spacing: 5px;
}
.title-third
{
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -20px;
    transform: translate(0,-1px);
}
.third-content
{
    width: 100%;
    letter-spacing: 0;
    font-size: 13px;
    transform: translate(10px,-10px);
}
.view-more-third
{
    position: relative;
    right: 0;
    padding-right: 5%;
    transform: translate(0,-20px);
}
.fourth-content
{
    padding-right: 20px;
}
.fifth-content
{
    display: flex;
    align-items: start;
    justify-content: start;
    margin-left: 20px;
    margin-top: 50px;
    padding-left: 0;
}
.mission-head-parent
{
    
    transform: translate(0rem,50px);
    height: 20%;
}
.mission-head{
    font-family: 'Gotham', sans-serif;
    font-size: 1.9rem;
} 
.fifth-head-parent1
{
    transform: translate(0,25px);
     
}
.fifth-head-parent2
{
    transform: translate(0,10px);
}
.fifth-head
{
    font-size: 4.5rem;
}
.fifth-right
{
    /* background-color: black; */
   
    transform: translate(30%,-40%);
  
}
.btn:hover{
    cursor: pointer;
    text-shadow: 0px 0px 0px white;
}
.logo{
    height: 120%;
}


}

